{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello there, te voici sur la page home du site SERIES</h1>
    <br>
    <h3>Ce n'est pas The Pirate Bay, but enjoy ;) </h3>

{% endblock %}

{% block title %} {{ parent() }} |Home{% endblock %}


