{% extends 'base.html.twig' %}

{% block title %}

create season

{% endblock %}

{% block body %}

<div>
{{ form_start(seasonForm) }}
{{ form_widget(seasonForm) }}
<button>Create season</button>
{{ form_end(seasonForm) }}
</div>

{% endblock %}
