{% extends 'base.html.twig' %}

{% block title %}
Cerate new series | {{ parent() }}
{% endblock %}

{% block body %}

<section>
        todo : afficher le formulaire de création
</section>

{% endblock %}


