{% extends 'base.html.twig' %}

{% block title %}
The best series | {{ parent() }}
{% endblock %}


{% block body %}

<h2>todo : le titre de la série</h2>

{# todo : afficher les infos de la série #}

{% endblock %}

